.search-bar{
    margin-top: 0.25rem;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    width: 15rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid #007FFF;

    &:focus{
        outline: none;
        border: 0.125rem solid #007FFF;
        border-radius: 0.5rem;
    }
}